  <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>This page is generated from a <a href="https://gitlab.com/fsmk/embedded-for-her">repository</a> on GitLab — merge requests with improvements are welcome.</p>
                    <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License.</a> <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="CC-BY" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a></p>
                </div>
            <!--    <div class="col-lg-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>     -->
            </div>
        </div>
    </footer>
