<!-- Speakers Section -->
    <section id="hardware_partners"   class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hardware Partner</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-offset-4 col-md-4">
                  <a href="http://electronut.in/"><img class="img-responsive img-circle" src="{{site.baseurl}}img/hw_partner.jpg" alt="Electronut"></a>
                  <ul class="list-inline social-buttons">
                    <h4 class="service-heading" style="display:inline">Electronut Labs</h4>
                    <li>
                      <a href="http://electronut.in/">
                        <i class="fa fa-globe"></i>
                      </a>
                    </li>
                  </ul>
                </div>
             </div>
        </div>
    </section>
